@model prototype3._0.Models.Voiture

@{
    ViewBag.Title = "Create voiture";
}
<a class="lead text-muted mb-3 text-decoration-none" style="font-size:xx-large" href="~/carrent/Index">CARRENT</a>
<div class="form-group text-center col-12 col-md-7 offset-md-3 col-lg-8 offset-lg-2">
    <h2>ADD CARS</h2>
</div>
<hr />


<div class="d-flex justify-content-center align-items-center container ">
    <div class="row col-12 col-md-7 offset-md-2 col-lg-7 offset-lg-4">
        @using (Html.BeginForm("Create_voiture", "carrent", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group mt-4 ">
                <label>Matriculation</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.num_immatri, new { htmlAttributes = new { @class = "form-control" } })
                  
                </div>
            </div>

            <div class="form-group mt-3 ">
                @Html.LabelFor(model => model.circulation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.circulation, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.circulation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-3 ">
                <label>Rent Price</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.loca_jounalier, new { htmlAttributes = new { @type = "number", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.loca_jounalier, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-3 ">

                <div class="col-md-10">
                    <label class="me-md-3" style="font-weight:bold">Carburant</label>
                    <label class="form-check-label mt-2 me-sm-3 ">
                        @Html.RadioButtonFor(model => model.carburant, "Diesel", new { @name = "carburant" })
                        Diesel
                    </label>

                    <label class="form-check-label mt-2">
                        @Html.RadioButtonFor(model => model.carburant, "Essence", new { @name = "carburant" })
                        Essence
                    </label>

                
                </div>
            </div>
            <div class="form-group mt-3  ">
                <label>Categories</label>
                <div class="col-md-10">
                    @{
                        prototype3._0.Models.GCBD db = new prototype3._0.Models.GCBD();
                        List<prototype3._0.Models.Categories> ListCatgegory = db.Categories.ToList();

                        <select value="@Html.HiddenFor(model => model.Cat_ID)" class="form-control">

                            @{
                                <option value="" disabled hidden selected> Select Category</option>
                                foreach (prototype3._0.Models.Categories s in ListCatgegory)
                                {
                                    <option value="@s.Cat_ID">@s.Nom</option>
                                }
                            }

                        </select>

                    }
                    @Html.ValidationMessageFor(model => model.Cat_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-3 ">
                <label>Models</label>
                <div class="col-md-10">
                    @{

                        List<prototype3._0.Models.Modeles> ListCatgegory1 = db.Modeles.ToList();

                        <select value="@Html.HiddenFor(model => model.model_ID)" class="form-group">

                            @{
                                <option value="" disabled hidden selected> Select Modeles</option>
                                foreach (prototype3._0.Models.Modeles s in ListCatgegory1)
                                {
                                    <option value="@s.model_ID">@s.nom_marque N°@s.num_serie</option>
                                }
                            }

                        </select>

                    }
                    @Html.ValidationMessageFor(model => model.model_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="ImageTemp">Image </label>
                <input type="file" name="ImageTemp" id="ImageTemp" class="form-control form-control-file" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 mt-5 mb-5">
                    <input type="submit" value="Create" class="btn btn-success me-5 " />

                    @Html.ActionLink("Accueil", "Index", "", new { @class = "btn btn-outline-primary" })
                    @Html.ActionLink("List Car", "Index_Car", "", new { @class = "btn btn-outline-primary" })

                </div>
            </div>


        }
    </div>
    </div>




        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
