@model IEnumerable<prototype3._0.Models.Modeles>

@{
    ViewBag.Title = "Index Model";
}
<a class="lead text-muted mb-3 text-decoration-none" style="font-size:xx-large" href="~/carrent/Index">CARRENT</a>

<div class="form-group text-center">
    <h2>MODELES LIST</h2>
</div>
<hr />

<table class="table table-hover">
    <tr class="table-dark">
        <th scope="col">
            Marque
        </th>
        <th>
            Numero de Serie
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom_marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_serie)
            </td>
            <td class="text-sm-end">
                @Html.ActionLink("Edit", "Modifier_modele", new { id = item.model_ID }, new { @class = "btn btn-outline-warning btn-sm" }) 
                @Html.ActionLink("Details", "Info_modele", new { id = item.model_ID }, new { @class = "btn btn-outline-info btn-sm" }) 
                @Html.ActionLink("Delete", "Supprimer_modele", new { id = item.model_ID }, new { @class = "btn btn-outline-danger btn-sm" })
            </td>
        </tr>
    }

</table>
<div class="form-group mt-3 text-center">
    @Html.ActionLink("Accueil", "Index", "", new { @class = "btn btn-outline-primary" }) @Html.ActionLink("Add Models", "Create_modeles", "", new { @class = "btn btn-outline-primary" })

</div>
