@model IEnumerable<prototype3._0.Models.Location>

@{
    ViewBag.Title = "List_car";
}

<a class="lead text-muted mb-3 text-decoration-none" style="font-size:xx-large" href="~/carrent/List_car">CARRENT</a>
<!-- Bootstrap core CSS -->
<link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
</style>




<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Mes Locations</h1>
                <p class="lead text-muted">
                    Carrent vous proposent des voitures de location de luxe ou des voitures du quotidien @if (Session["client"] == null)
                    {
                    <p class="lead text-muted" style="color:deepskyblue">Pour louer authentifiez-vous ci dessous </p>}<p>

                        @if (Session["client"] == null)
                        {


                            <a href="~/Account/login" class="btn btn-primary my-2">Connectez-vous</a>
                            /* @Html.ActionLink("Connectez-vous", "Account/login", new { @class = "btn btn-primary my-2" })*/
                        }
                        else
                        {
                            prototype3._0.Models.GCBD db = new prototype3._0.Models.GCBD();
                            var listuser = db.Clients.Find(Session["client"]);



                            <a href="#" class="btn btn-success my-2">Bonjour @listuser.Nom_c</a>
                            @Html.ActionLink("Accueil", "List_car", "", new { @class = "btn btn-primary me-1" })

                            @Html.ActionLink("Logout", "Logout", "", new { @class = "btn btn-outline-danger" })

                        }
                    </p>
                </div>
            </div>
        </section>



        @if (Model.Count() == 0)
        {
            <div class="form-group mt-3 text-center mb-3">
                <h1 class="fw-light" style="color:darkgrey">Aucune Location</h1>
            </div>

        }
        else
        {



            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        @foreach (var item in Model)
                        {



                            prototype3._0.Models.GCBD db = new prototype3._0.Models.GCBD();
                            prototype3._0.Models.Voiture voiture = db.Voiture.Find(item.car_ID);
                            prototype3._0.Models.Modeles modeles = db.Modeles.Find(voiture.model_ID);

                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="card-img-top " src="~/Images/@voiture.Image" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text" style="font-weight:bold">@modeles.nom_marque</p>
                                    <div><label style="font-weight:normal">Carburant:</label>  <label style="color:gray">@voiture.carburant</label></div>
                                    <div><label style="font-weight: normal">Price:</label>  <label style="color:orange">@item.prix_location DH</label></div>
                                    <div class="btn-group mt-3">
                                        @Html.ActionLink("Info", "Info_location", new { id = item.LID }, new { @class = "btn btn-sm btn-outline-secondary" })
                                        @Html.ActionLink("Delete", "Supprimerlocation", new { id = item.LID }, new { @class = "btn btn-sm btn-outline-danger" })
                                    </div>
                                    
                                </div>
                                </div>
                            </div>
                       
                        }
                    </div>
                </div>
            </div>
        }


    </main>
    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
